---
layout: default
prism: false
---

<div class="container max-w-4xl mt-6  px-6">
    <article class="c-product">
        <div class="intro">
            <h1>{{ headline }}</h1>
            <p>{{ subhead }}</p>
        </div> 

        <img src="{{ product_package }}" />
        <img src="{{ product_pieces }}" />
    
        {{ title }}
        {{ stars }}
        {{ count }}
        {{ price }}
        {{ description }}
        {{ facts }}
        {{ ingredients }}
        {% for item in review %}
            {{ item. review_stars }}
            {{ item. review_title }}
            {{ item. review_content }}
            {{ item. review_submitted }}
            {{ item. review_bt }}
            {{ item. review_location }}
        {% endfor %}
    </article>

</div>