
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.brand {
  padding-top: 50px;
  margin-bottom: 50px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro {
  margin-bottom: 52px;
}

.product-media img {
  width: 100%;
}

.u-bg-color--Yellow {
  background: rgb(255,255,255);
  background: linear-gradient(133deg, rgba(255,255,255,1) 0%, rgba(253,215,87,1) 16%);
  background-repeat: no-repeat;
}

.u-bg-color--Yellow .intro h1 {
  color: #DA291C;
  font-size: calc(2.375rem + 52 * ((100vw - 320px) / 1300));
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.u-bg-color--Yellow .intro p {
  font-family: "Graphie";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #472118;
  opacity: 0.75;
}

.u-bg-color--Blue {
  background: rgba(35,97,146,1);
  background-repeat: no-repeat;
  color: #fff;
}

.u-bg-color--Orange {
  background: rgba(242,169,0,1);
  background-repeat: no-repeat;
}

.u-bg-color--Silver {
  background: rgb(255,255,255);
  background: linear-gradient(133deg, rgba(255,255,255,1) 0%, rgba(35,28,15,0.5) 96%);
  background-repeat: no-repeat;
}

.u-font-Classy {
  font-family: 'Times New Roman', Times, serif;
}

.u-font-Cartoon {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}