@font-face {
  font-family: "Caferteria-Black";
  src: url(/static/font/Cafeteria-Black.otf);
}

@font-face {
  font-family: "Dax";
  src: url(/static/font/Dax-Bold-Italic.otf);
}

@font-face {
  font-family: "Graphie";
  src: url(/static/font/Graphie-Book.otf);
}

@font-face {
  font-family: "Graphie Light";
  src: url(/static/font/Graphie-Light.otf);
}

@font-face {
  font-family: "Graphie SemiBold";
  src: url(/static/font/Graphie-SemiBold.otf);
}

@font-face {
  font-family: "Graphie Bold";
  src: url(/static/font/Graphie-Bold.otf);
}

@font-face {
  font-family: "Graphie ExtraBold";
  src: url(/static/font/Graphie-ExtraBold.otf);
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: "Graphie";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.u-font-Classy .intro h1 {
  font-family: 'Dax', Times, serif;
  font-size: calc(2.375rem + 52 * ((100vw - 320px) / 1300));
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.u-font-Cartoon .intro h1 {
  font-size: calc(2.375rem + 52 * ((100vw - 320px) / 1300));
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-family: 'Caferteria-Black', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.u-font-Cartoon .main h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.69;
  letter-spacing: 0.02em;
  color: #472118;
  text-transform: uppercase;
  font-family: "Graphie ExtraBold";
}


.brand {
  padding-top: 50px;
  margin-bottom: 50px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.c-product {
  margin-bottom: 120px;
}

.intro {
  margin-bottom: 52px;
}

.product-media {
  position: relative;
}

.product-media img {
  width: 100%;
}

.product-secondary {
  position: absolute;
  left: 0;
  bottom: 0;
}

.container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.price {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Graphie Bold";
}

.price svg {
  margin-left: 10px;
}

.desc p {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #472118;
  opacity: 0.75;
}

.answer {
  display: none;
}

.shown .answer{
  display: block;
}

.accordion-wrapper {
  margin-top: 40px;
}

.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.accordion h3 {
  border-bottom: 1px solid #472118;
  position: relative;
  margin: 10px 0;
  padding: 20px 0;
  color: black;
}

.accordion h3:hover{
  color:white;
}


.u-bg-color--Yellow {
  background: rgb(255,255,255);
  background: linear-gradient(133deg, rgba(255,255,255,1) 0%, rgba(253,215,87,1) 16%);
  background-repeat: no-repeat;
}

.u-bg-color--Yellow .intro h1 {
  color: #DA291C;
}



.footer {
  background-color: #472118;
  padding: 42px 20px 71px;
  margin: 0 auto;
}

.footer-content {
  max-width: 1170px;
  margin: 0 auto;
}


.footer-copy {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: space-betweens;
  }
}


.flex-content > div {
  flex: 0 0 50%;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-list li {
  font-size: 12px;
  line-height: 1.83;
  font-family: "Graphie Light";
  letter-spacing: 0.03em;  font-family: "Graphie SemiBold";
  flex: 0 0 33%;
}

.footer-copy p {
  font-size: 12px;
  line-height: 1.83;
  font-family: "Graphie Light";
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Graphie;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.03em;
}

.desc-icons {
  margin: 25px 0;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action select {
  width: 100%;
  padding: 16px 0;
  background-color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  margin-bottom: 20px;
}

.counter {
  display: inline-flex;
  background-color: #FFFFFF;
  border: 1px solid #231C0F;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  margin-right: 20px;
  flex: 0 0 30%;
}

.count-up {
  padding: 10px 20px;
  font-size: 20px;
}

.count-down {
  padding: 10px 20px;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.button {
  flex: auto;
  background-color: #DA291C;
  border-radius: 8px;
  padding: 17px 20px;
  color: #FFFFFF;
  box-shadow: none;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.button svg {
  margin-left: 10px;
}

.question {
  font-family: "Graphie SemiBold";
  text-transform: uppercase;
  letter-spacing: 0.07em;
  display: flex;
  justify-content: space-between;
}

.u-bg-color--Yellow .intro p {
  font-family: "Graphie";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #472118;
  opacity: 0.75;
}

.u-bg-color--Blue {
  background: rgba(35,97,146,1);
  background-repeat: no-repeat;
  color: #fff;
}

.u-bg-color--Orange {
  background: rgba(242,169,0,1);
  background-repeat: no-repeat;
}

.u-bg-color--Silver {
  background: rgb(255,255,255);
  background: linear-gradient(133deg, rgba(255,255,255,1) 0%, rgba(35,28,15,0.5) 96%);
  background-repeat: no-repeat;
}
