<footer class="footer">
    <div class="footer-content" bp="grid">
        <div class="footer-copy" bp="5@md">
            <p>© 2021 POST CONSUMER BRANDS, LLC. ALL RIGHTS RESERVED</p>
            <p>THIS IS NOT INTENDED FOR AN EU (EUROPEAN UNION) AUDIENCE.</p>
            <p>THE FLINTSTONES and all related characters and elements © &amp; ™ Hanna-Barbera.</p>
        </div>
        <div bp="5@md offset-8@md">
            <ul class="footer-list">
                <li><a href="https://google.com">Contact</a></li>
                <li><a href="https://google.com">Terms</a></li>
                <li><a href="https://google.com">Patents</a></li>
                <li><a href="https://google.com">Privacy Policy</a></li>
                <li><a href="https://google.com">Regulatory</a></li>
                <li><a href="https://google.com">Post Holding</a></li>
                <li><a href="https://google.com">Cookie Policy</a></li>
            </ul>
        </div>
    </div>
</footer>
